<div class="wrapper">
  <div class="page-header" style="background-image: url('https://images.unsplash.com/photo-1517443191895-202c31142ccd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');">
      <div class="filter"></div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register">
                        <h3 class="title animate__animated animate__rubberBand">Sign In</h3>
                        <div class="social-line text-center">
                            <a  class="btn btn-neutral btn-facebook btn-just-icon">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                            <a  class="btn btn-neutral btn-google btn-just-icon">
                                <i class="fab fa-google-plus"></i>
                            </a>
                            <a  class="btn btn-neutral btn-twitter btn-just-icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                        <form class="register-form">
                            <label>Username</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fas fa-user"></i>
                                </span>
                              </div>

                                <input type="text" class="form-control" placeholder="Username" name="username" username="ngModel" [(ngModel)]="login.username" required (focus)="focus=true" (blur)="focus=false" >
                            </div>

                            <label>Password</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fas fa-key"></i>
                                </span>
                              </div>
                                <input type="password" class="form-control" placeholder="Password" name="password" password="ngModel"  [(ngModel)]="login.password" required (focus)="focus1=true" (blur)="focus1=false" >
                            </div>
                            <button type="submit" (click)="signin()" class="btn btn-danger btn-block btn-round">Get back</button>
                        </form>
                        <div class="forgot">
                            <a class="btn btn-link btn-info">Forgot password?</a>                              
                        </div>
                        <div style="text-align: center;">
                          <a href="/signup" class="btn btn-link btn-info">Dont have account?    Sign up</a>
                        </div>
                    </div>
                  </div>
              </div>                
          </div>
  </div>
</div>
