.header{  
  color: white;
  font-weight: bold;
  z-index: 99;
}
.page-header{
  background-image: url('https://images.unsplash.com/photo-1598134706627-d7ee8c927785?ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80');
  background-attachment: fixed;
  background-size: cover;  
  color: white;
}