<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true">
    <div class="filter"></div>
    <h2 class="header animate__animated animate__rubberBand">Contact us</h2>
  </div>
  <div class="section profile-content">
    <div class="container">
      <h3 class="text-center">Keep in touch with us</h3>
      <br>
      <!--Grid row-->      
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <form class="contact-form">
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fas fa-user"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Name" name="name" name="ngModel"
                    [(ngModel)]="contactus.name" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
              <div class="col-md-6">
                <label>Email</label>
                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                  <input type="email" class="form-control" placeholder="Email" name="email" email="ngModel"
                    [(ngModel)]="contactus.email" (focus)="focus1=true" (blur)="focus1=false">
                </div>
              </div>
            </div>
            <label>Subject</label>
            <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-pen"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Subject" (focus)="focus1=true" name="subject"
                subject="ngModel" [(ngModel)]="contactus.subject" (blur)="focus1=false">
            </div>

            <label>Message</label>
            <textarea class="form-control" rows="4" name="message" message="ngModel" [(ngModel)]="contactus.message"
              placeholder="Tell us your thoughts and feelings..."></textarea>
            <div class="row">
              <div class="col-md-4 mr-auto ml-auto">
                <button type="submit" (click)="sendMessage()" class="btn btn-danger btn-lg btn-fill">Send
                  Message</button>
              </div>
            </div>
          </form>
        </div> 
        <div class="col-md-2"></div>       
      </div>
      <br>
      <hr>

      <div class="row" style="display: flex; justify-content: center; align-content: center;text-align: center">
        <div class="col-md-2"></div>
        <div class="col-md-8">  
          <div style="display: inline-block;padding: 10px;">
            <i class="fas fa-map-marker-alt fa-2x"></i>
            <p>Nairobi, Kenya</p>
          </div>
          <div style="display: inline-block;padding: 10px;">
            <i class="fas fa-phone mt-4 fa-2x"></i>
            <p>+254 790 476 167</p>
          </div>
          <div style="display: inline-block;padding: 10px;">
            <i class="fas fa-envelope mt-4 fa-2x"></i>
            <p>petrite_bay@yahoo.com</p>
          </div>          
        </div>
        <div class="col-md-2"></div>        
      </div>
      <!--/Grid row-->

    </div>
  </div>
</div>