.header{  
  color: white;
  font-weight: bold;
  z-index: 99;
}
.page-header{
  background-image: url('https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-attachment: fixed;
  background-size: cover;  
  color: white;
}

.selectServices mat-checkbox{  
  margin: 10px;
}
