<div class="wrapper">
    <div class="page-header" style="background-image: url('https://images.unsplash.com/photo-1517443191895-202c31142ccd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                      <div class="card card-register">
                          <h3 class="title">Sign Up</h3>                          
                          <form class="register-form">
                            <label>Username</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-user"></i>
                                </span>
                              </div>

                                <input type="text" class="form-control" placeholder="Username" name="username" username="ngModel" [(ngModel)]="register.username" (focus)="focus=true" (blur)="focus=false" >
                            </div>


                              <label>Email</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="fas fa-envelope"></i>
                                  </span>
                                </div>

                                  <input type="email" class="form-control" name="email" email="ngModel" [(ngModel)]="register.email" placeholder="Email" (focus)="focus=true" (blur)="focus=false" >
                              </div>

                              <label>Password</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="fas fa-key"></i>
                                  </span>
                                </div>
                                  <input type="password" class="form-control" name="password1" password1="ngModel" [(ngModel)]="register.password1" placeholder="Password" (focus)="focus1=true" (blur)="focus1=false" >
                              </div>

                              <label>Confirm Password</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="fas fa-key"></i>
                                  </span>
                                </div>
                                  <input type="password" class="form-control" name="password2" password2="ngModel" [(ngModel)]="register.password2" placeholder="Confirm Password" (focus)="focus1=true" (blur)="focus1=false" >
                              </div>
                              <br>
                              <p style="color: #C2C2CC;">By continuing, you agree to our terms and conditions</p>                                
                              <button type="submit" (click)="signup()" class="btn btn-danger btn-block btn-round">Register</button>
                          </form>                          
                          <div style="text-align: center;">
                            <a href="/signin" class="btn btn-link btn-info">Have account?    Sign in</a>
                          </div>
                      </div>
                    </div>
                </div>                
            </div>
    </div>
</div>
