<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img class="img-rounded img-responsive" src="assets/img/mine/logo.jpeg" alt="">
                    </div>
                    <h1 class="presentation-title">Petrite Bay</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="title">What we do</h2>
                        <h5 class="description">We at Petrite Bay love pets just as you and our main goal is to serve
                            your pet with integrity and care for they play a big role in our lives.</h5>
                        <br>
                        <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>
                    </div>
                </div>
                <br /><br />
                <div class="row">
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-album-2"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Dog walking services</h4>
                                <p class="description">Walking the dog regularly provides a basic foundation for
                                    physical and mental health. Like a child, your dog wants to know the world. If he or
                                    she is confined to the house for too long, your dog will get bored, and boredom can
                                    lead to destructive behavior.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-bulb-63"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Dog grooming services</h4>
                                <p>We are invest in hygienic care and cleaning of a dog as well as enhancing a dog's
                                    physical appearance for showing or other types of competitions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-chart-bar-32"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Excerise and training services</h4>
                                <p>We engage dogs in various excerises to keep them in top physical conditions since
                                    daily exercises maintain their fitness, immunity, and overall health.

                                    Training services are also availbale to enhance communication between the owner and
                                    the dog.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-sun-fog-29"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Delightful design</h4>
                                <p>Find unique and handmade delightful designs related items directly from our sellers.
                                </p>
                                <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="section text-center">
            <div class="container">
                <h2 class="title">Our pricing</h2>     
                <h5 class="description">Below are our pricing charges for dog walking</h5>
                <div class="row">
                    <div class="col">
                        <div class="profile-card-6">
                            <img src="https://images.unsplash.com/photo-1596646330272-d1c160031eae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80"
                            class="img img-responsive">
                        <div class="profile-name">Small sized 
                            <br>Dogs</div>
                        <div class="profile-position">Poodle</div>
                        <div class="profile-overview">
                            <p>Price: ksh 200</p>                            
                        </div>
                    </div>                    
                    </div>
                    <div class="col">
                        <div class="profile-card-6"><img src="https://images.unsplash.com/photo-1559562328-bc48b8b32e2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80"
                            class="img img-responsive">
                        <div class="profile-name">Medium sized
                                          <br>Dogs</div>
                        <div class="profile-position">Golden Retriever</div>
                        <div class="profile-overview">
                            <div class="profile-overview">
                                <p>Price: ksh 300</p>                            
                            </div>
                        </div>
                    </div>                    
                    </div>
                    <div class="col">
                        <div class="profile-card-6"><img src="https://images.unsplash.com/photo-1567610938204-4a74d84a397a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                                class="img img-responsive">
                            <div class="profile-name">Huge sized
                                <br>Dogs</div>
                            <div class="profile-position">German Shepherd</div>
                            <div class="profile-overview">
                                <div class="profile-overview">
                                    <p>Price: ksh 400</p>          
                                </div>
                            </div>
                        </div>                                            
                    </div>
                </div>
            </div>
        </div>

        <div class="section team text-center">
            <div class="container">
                <h2 class="title">Our Team</h2>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Peter Mirithu</h4>
                                        <h6 class="card-category">CEO</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="card-footer text-center">
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Isabel Muhia</h4>
                                        <h6 class="card-category">CFO</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="card-footer text-center">
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Karungari Nduba</h4>
                                        <h6 class="card-category">CDO</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="card-footer text-center">
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Mbiru Wairimu</h4>
                                        <h6 class="card-category">COO</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="card-footer text-center">
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="text-center">Keep in touch?</h2>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Name" (focus)="focus=true"
                                            (blur)="focus=false">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Email</label>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="nc-icon nc-email-85"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Email"
                                            (focus)="focus1=true" (blur)="focus1=false">
                                    </div>
                                </div>
                            </div>
                            <label>Message</label>
                            <textarea class="form-control" rows="4"
                                placeholder="Tell us your thoughts and feelings..."></textarea>
                            <div class="row">
                                <div class="col-md-4 mr-auto ml-auto">
                                    <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>