.header{  
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.page-header{
  background-image: url('https://images.unsplash.com/photo-1515643753254-bc2a61953a01?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80');
  background-attachment: fixed;
  background-size: cover;  
}