<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true">
    <div class="filter"></div>
    <h1 class="header">About us</h1>
  </div>
  <div class="section profile-content">
    <div class="container">
      <h2 class="text-center">What we do</h2>
      <br>
      <!--Grid row-->
      <div class="row wow fadeIn">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 px-4">

          <!--First row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-dog fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Dog walking services</h5>
              <p class="grey-text">Walking the dog regularly provides a basic foundation for physical and mental
                health. Like a child, your dog wants to know the world. If he or she is confined to the house for too
                long, your dog will get bored, and boredom can lead to destructive behavior.</p>
            </div>
          </div>
          <!--/First row-->

          <div style="height:30px"></div>

          <!--Second row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-bath fa-2x blue-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Dog grooming services</h5>
              <p class="grey-text">We are invest in hygienic care and cleaning of a dog as well as enhancing a dog's
                physical appearance for showing or other types of competitions.
              </p>
            </div>
          </div>
          <!--/Second row-->

          <div style="height:30px"></div>

          <!--Third row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-dumbbell fa-2x cyan-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Excerise and training services</h5>
              <p class="grey-text">We engage dogs in various excerises to keep them in top physical conditions since
                daily exercises maintain their fitness, immunity, and overall health. </p>
              <p class="grey-text">Training services are also availbale to enhance communication between the owner and
                the dog.</p>
            </div>
          </div>
          <!--/Third row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-concierge-bell fa-2x"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Pet sitting Services</h5>
              <p class="grey-text">We are here to sort you out. With us you can create time for your daily activities as
                we take care of your dog.</p>
              <p class="grey-text">We also offer you chance to call us and we pick the dog and deliver it back to you
                once your satisfied by our services.</p>
            </div>
          </div>

        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-12">
          <p class="p grey-text text-center mb-4">We at Petrite Bay love pets just as you and our main goal is to
            serve your pet with integrity and care for they play a big role in our lives. </p>
          <div class="">
            <img
              src="https://images.unsplash.com/photo-1524487225818-c6acacb24d4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1226&q=80"
              class="img-fluid z-depth-1-half" alt="">
          </div>
        </div>
        <!--/Grid column-->

      </div>
      <!--/Grid row-->

    </div>
  </div>
  <div class="section team text-center">
    <div class="container">
      <h2 class="titleX">Our Team</h2>
      <div class="row">
        <div class="col-md-3">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#"><img src="https://media.istockphoto.com/vectors/dog-paw-icon-logo-vector-id1005374612?k=6&m=1005374612&s=170667a&w=0&h=Z8MpNCsA7V69THZL55s5qz2ZB_axgJ-X-ccBA28tylc=" alt="..."></a>
            </div>
            <div class="card-block">
              <a href="#">
                <div class="author">
                  <h4 class="card-title">Peter Mirithu</h4>
                  <h6 class="card-category">CEO</h6>
                </div>
              </a>
            </div>
            <div class="card-footer text-center">
              <a href="#" class="btn btn-link btn-just-icon btn-dark"><i class="fab fa-twitter"></i></a>
              <a href="#" class="btn btn-link btn-just-icon btn-dark"><i class="fab fa-google-plus"></i></a>
              <a href="#" class="btn btn-link btn-just-icon btn-dark"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#"><img src="https://media.istockphoto.com/vectors/dog-paw-icon-logo-vector-id1005374612?k=6&m=1005374612&s=170667a&w=0&h=Z8MpNCsA7V69THZL55s5qz2ZB_axgJ-X-ccBA28tylc=" alt="..."></a>
            </div>
            <div class="card-block">
              <a href="#">
                <div class="author">
                  <h4 class="card-title">Isabel Muhia</h4>
                  <h6 class="card-category">CFO</h6>
                </div>
              </a>
            </div>
            <div class="card-footer text-center">
              <a href="#" class="btn btn-link btn-just-icon btn-dark"><i class="fab fa-twitter"></i></a>
              <a href="#" class="btn btn-link btn-just-icon btn-dark"><i class="fab fa-google-plus"></i></a>
              <a href="#" class="btn btn-link btn-just-icon btn-dark"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#"><img src="https://media.istockphoto.com/vectors/dog-paw-icon-logo-vector-id1005374612?k=6&m=1005374612&s=170667a&w=0&h=Z8MpNCsA7V69THZL55s5qz2ZB_axgJ-X-ccBA28tylc=" alt="..."></a>
            </div>
            <div class="card-block">
              <a href="#">
                <div class="author">
                  <h4 class="card-title">Karungari Nduba</h4>
                  <h6 class="card-category">CDO</h6>
                </div>
              </a>
            </div>
            <div class="card-footer text-center">
              <a href="#" class="btn btn-link btn-just-icon btn-dark"><i class="fab fa-twitter"></i></a>
              <a href="#" class="btn btn-link btn-just-icon btn-dark"><i class="fab fa-google-plus"></i></a>
              <a href="#" class="btn btn-link btn-just-icon btn-dark"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#"><img src="https://media.istockphoto.com/vectors/dog-paw-icon-logo-vector-id1005374612?k=6&m=1005374612&s=170667a&w=0&h=Z8MpNCsA7V69THZL55s5qz2ZB_axgJ-X-ccBA28tylc=" alt="..."></a>
            </div>
            <div class="card-block">
              <a href="#">
                <div class="author">
                  <h4 class="card-title">Mbiru Wairimu</h4>
                  <h6 class="card-category">COO</h6>
                </div>
              </a>
            </div>
            <div class="card-footer text-center">
              <a href="#" class="btn btn-link btn-just-icon btn-dark"><i class="fab fa-twitter"></i></a>
              <a href="#" class="btn btn-link btn-just-icon btn-dark"><i class="fab fa-google-plus"></i></a>
              <a href="#" class="btn btn-link btn-just-icon btn-dark"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>  
</div>